body{
  width: 800px;
  height: 800px;
  font-size: 0px;
  border: 1px solid black;
}
.left{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  background-color: black;
}
.right{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 100px;
  background-color: black;
}